<%= form_for @post do |f| %>
	
	<% if @post.errors.any? %>
		<div class="alert alert-danger" role="alert">
			<h2><%= pluralize(@post.errors.count, "error") %> prevented this from saving:</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="row">
  	<div class="">
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :author %><br>
		<%= f.text_field :author %>
	</p>
	<p>
		<%= f.label :body %><br>
		<%= raw f.text_area :body, class: "tinymce" %>
	</p>
	<p>
		<%= f.label :tags, "Tags (separated by commas)" %><br>
		<%= f.text_field :tag_list %>
	</p>
	<p>
		<%= f.submit "Submit Post", class: "" %>
	</p>
	</div>
	</div>
	<% end %>
	<%= tinymce %>