<div id="post_content">
	<h1 class="title">
		<%= @post.title %>
	</h1>

	<p class="date"><span class="glyphicon glyphicon-time"></span>
		Submitted <%= time_ago_in_words(@post.created_at) %> ago<br>
	</p>
	<p>
		<% if current_user.try(:admin?) %>
		<span class="glyphicon glyphicon-edit"></span> <%= link_to 'Edit', edit_post_path(@post) %> | 
		<span class="glyphicon glyphicon-remove"></span> <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	</p>
	<p class="body">
		<%=raw @post.body %>
	</p>
	<p class="tags"><span class="glyphicon glyphicon-tags"> <%= raw @post.tag_list.map { |tag| link_to tag, tag_path(tag) }.join(', ') %></p>

	<div id="comments">
		<h3>Comments & Amendments ( <%= @post.comments.count %> )</h3>
		<%= render @post.comments %>
		<h3>What's on your mind?</h3>
		<%= render "comments/form" %>
	</div>
</div>
